html, body, .full-height { 
    /* Reserve all height for our purposes */
    height: 100%;
}

#app-container {
    /* Some margin, allow absolutely posistioned elements to go in there */
    padding: 50px 0 0 0;
    position: relative;
}


.top-bar {
    /* Squeeze into the parent's margin (but leave a little white underneath) */
    position: absolute;
    height: 50px;
    top: 0;
    left: 0; right: 0;

    /* White-on-black vertically centered content */
    background-color: black;
    color: white;
    display: flex;
    align-items: center;

    padding-left: 15px;
}
/* Still more vertical centering stuff .. */
.top-bar > *, #database-select-wrapper > * {
    margin: 0;
}

.top-bar h1 {
    font-size: 20px;
    margin: 0;
    margin-right: 5em;
}

/** Style the splitjs splitter */
.gutter {
    cursor: row-resize;
    position: relative;
    /*background-color: #dddddd;*/
    background-color: #dddddd;
    border: 1px solid #dddddd;
}
.gutter:hover { background-color: #c7c7c7; }

/* The two-vertical-panes system */
#panes-container {
    display: flex;
    flex-direction: column;
}

/** A loader in the results pane.. */
#results-pane {
    position: relative;
    overflow: auto;
    padding: 0;
}
#results-pane .loader {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    background-color: #f7f7f7;
}


/* Code pane contains editor + hints */
#query-pane textarea {
    position: absolute;
    top:0; bottom: 0;
}

/** Cards & close buttons */
.card .card-header button.close {
    font-size: inherit;
    line-height: inherit;
}

/** Buttons & Keyboard shortcuts */
#query-pane .command-area {
    position: absolute;
    top:1em; right: 1em;
    background-color: white;
    z-index: 4; /* Appear over codemirror! */
}
#query-pane .command-area .card-body ul button {
    /** Flex instead of float: right, much more robust */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#query-pane .command-area .card-body ul kbd {
    width: 8em;
    text-align: left;
}

#query-pane .command-area .card-body kbd {
    margin-left: 2em;
}

/* Hints dialog */
#documentation-dialog-signature {
    /** Flex instead of float: right, much more robust */
    width: 100%;
    justify-content: space-between;
    display: flex;
}

/* CodeMirror styling */
#panes-container .CodeMirror { 
	height: 100%;
}
 .CodeMirror-hints .matches-type-false {
		color: #666 !important;
}
.CodeMirror-hints .CodeMirror-hint-active.matches-type-false {
	color: white !important;
}
.modal-body {
	max-height: 85vh;
	max-height: 700px 
}
#documentation-dialog-documentation {
	overflow: auto;
}

/* Results pane styling */
#results-pane {
    background-color: #f7f7f7;
    margin-bottom: 0;
}
#results-pane.completed-with-error {
    background-color: #f7e3e0;
}
#results-pane .result-representation {
    padding-left: 0.3em;
    overflow: auto;
}

/* Results pane alternate representation tabs */
#result-tabs {
    display: flex;
    flex-direction: row;
    padding-left: 0.3em;
    margin-bottom: 0.5em;
    background-color: #ddd;
}

#result-tabs>* {
    margin-top: 0;
    margin-right: 0.3em;
    padding: 0.25em 0.5em 0.3em;
    font-size: 0.8em;

    border: 1px solid #dddddd;
    border-top-width: 0;
    cursor: pointer;
    margin-bottom: 5px;
}

#result-tabs>*:hover {
    color: red;
}

#result-tabs>.active {
    background-color: black;
    border-radius: 0.2rem;
    color: white;
}



/** Snippet storage dialog */
#storage-dialog .modal-body {
    display: flex;
    align-items: stretch;
    padding: 0;
}
#storage-dialog .modal-body > * {
    /** Need padding because we cancelled the dialog's so separator goes to the bottom */
    padding-bottom: 0.5em;
}
#snippet-listing {
    flex-basis: 200px;
}
#snippet-listing-names {
    width: 200px;
}

#snippet-preview {
    flex-grow: 1;
    min-height: 300px;
    max-height: 0.9wh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /** Separator between the two panes */
    border-left: 1px solid #dee2e6;
    padding: 0.5em;
}

#snippet-preview pre { 
    overflow: auto;
}

#snippet-preview pre {
    flex-grow: 1;
}

#snippet-preview button {
    flex-grow: 0;
}

/** Buttons on top of snippet listings */
.snippet-icons {
    display: flex;

}
.snippet-icons > * { border-left: 1px solid #dee2e6; flex-grow: 1; text-align: center; padding-top: 4px; }
.snippet-icons > *:first-child { border-left: 0; }
.snippet-icons > *:hover { background-color: #212529; color: white; cursor: pointer; }

/** Snippet names */
#snippet-listing-names {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    white-space: nowrap;
}
#snippet-listing-names.empty {
    border-top: 1px solid #dee2e6;
}
#snippet-listing-names > * { cursor: pointer }
#snippet-listing-names > *:hover {
     color: #1b1e21;
     background-color: #c6c8ca;
}
#snippet-listing-names > .active {
     color: #004085;
     background-color: #b8daff;
}
